/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    margin-bottom: 80px;
}

.menu-list {
    display: flex;
    column-gap: 80px;
}

.burger-btn {
    display: none;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid var(--2, rgba(39, 42, 51, 1));
    border-radius: 8px;
    cursor: pointer;
}

.burger-btn span {
    width: 23px;
    height: 2px;
    background: #272A33;
    transition: 0.3s;
}

/* Product-section */
.product-section {
    margin-bottom: 10px;
}

.product-section h1 {
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.product-cart {
    width: 100%;
    max-width: 705px;
    display: flex;
    gap: 30px;
    border: 1px solid rgba(224, 230, 237, 1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
}

.product-description {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 30px;
    padding-right: 30px;
}

.product-description>span {
    font-family: "Roboto";
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info span::before {
    content: '';
    background-color: #4FCF36;
    border-radius: 100px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('../assets/the-checkmark-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.product-info span.under-the-order::before {
    background-color: #EE753E;
}

.product-end-list-btn {
    display: flex;
    justify-content: center;
}

.product-end-list-btn button {
    width: 224px;
    height: 46px;
}

/* About-section */
.about-section {
    margin-bottom: 50px;
}

.about-section h2 {
    margin-bottom: 30px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-image div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-image div img {
    flex: 1;
    max-width: calc(50% - 15px);
    height: auto;
    object-fit: cover;
}

.about-info {
    width: 100%;
    max-width: 705px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.about-info>span {
    word-break: break-word;
    font-weight: 700;
    line-height: 22px;
}

.about-info div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-info div span::before {
    content: '';
    background-color: #EE753E;
    border-radius: 100px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/the-checkmark-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 8px;
    flex-shrink: 0;
}

.about-info div span {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn:active {
    background-color: #D45A28;
    transition: 0.1s;
}

.menu-list li:active {
    color: #D45A28;
    transition: 0.1s;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #EE753E;
        transition: 0.3s;
    }

    .menu-list li:hover {
        color: #EE753E;
        transition: 0.3s;
    }
}

@media screen and (max-width: 1470px) {

    .header,
    .product-section,
    .about-section {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .header {
        margin-bottom: 80px;
    }

    .product-section {
        margin-bottom: 80px;
    }

    .about-section {
        margin-bottom: 50px;
    }

    .product-cart,
    .about-image,
    .about-info {
        max-width: 570px;
    }

    .about-image,
    .about-image div {
        gap: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        position: sticky;
        top: 0;
        background-color: #fff;
    }

    .header::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba(234, 239, 244, 1);
    }

    .product-section h1,
    .about-section h2 {
        font-size: 30px;
    }

    .product-section {
        margin-bottom: 50px;
    }

    .header,
    .product-section,
    .about-section {
        max-width: 770px;
    }

    .burger-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        z-index: 100;
    }

    .menu {
        position: fixed;
        top: 110px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.3s;
        padding: 80px 20px 20px;
    }

    .menu.active {
        left: 0;
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-list li a {
        width: 100%;
        border-bottom: 1px solid rgba(213, 223, 233, 1);
        display: inline-block;
        padding-block: 20px;
    }

    .burger-btn.active span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .burger-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-btn.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .product-container {
        flex-direction: column;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .product-cart,
    .about-image,
    .about-info {
        width: 100%;
        max-width: 770px;
    }
}

@media screen and (max-width: 800px) {

    .product-section h1,
    .about-section h2 {
        font-size: 20px;
    }

    .product-cart,
    .about-image,
    .about-info {
        width: 100%;
        max-width: 570px;
    }

    .header,
    .product-section,
    .about-section {
        max-width: 570px;
    }
}

@media screen and (max-width: 600px) {
    .product-container {
        flex-direction: row;
        gap: 20px;
    }

    .product-container div:nth-child(n+5) {
        display: none;
    }

    .product-cart {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 170px;
    }

    .product-cart img {
        width: 170px;
        height: 170px;
    }

    .product-description {
        flex: 1;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }

    .product-description span {
        font-size: 16px;
    }

    .product-info .btn {
        width: 148px;
    }

    .product-info span {
        font-size: 14px;
    }

    .header,
    .product-section,
    .about-section {
        max-width: 370px;
    }
}

@media screen and (max-width: 390px) {

    .product-section h1,
    .about-section h2 {
        font-size: 16px;
    }

    .product-container {
        justify-content: center;
    }

    .product-cart {
        max-width: 140px;
    }

    .product-cart img {
        width: 138px;
        height: 138px;
    }

    .product-description span {
        font-size: 14px;
    }

    .product-info .btn {
        width: 118px;
    }

    .product-info span {
        font-size: 10px;
    }

    .header,
    .product-section,
    .about-section {
        max-width: 300px;
    }

    .about-info span,
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 330px) {

    .product-cart {
        max-width: 130px;
    }

    .product-cart img {
        width: 130px;
        height: 130px;
    }

    .product-info .btn {
        width: 108px;
    }
}